<div id="user-area" class='col-md-4'>
  <div class="affix">
    <%= render 'user_area' %>` 
  </div>
</div>
<div id="feed" class='col-md-4'>
  <%= render 'feed' %>
</div>
<div id="ad-content" class='col-md-4'></div>
