<% provide(:title, 'About') %>
<h1>OdinBook</h1>
<p>OdinBook is my solution to <%= link_to "The Odin Project's", 'https://www.theodinproject.com/home' %> final Ruby Rails project</p>
<br/>
<p>It is a clone of a popular social media site, with some minimal functionality. Here comrades in arms can see what worthy accomplishments other comrades have acheived.  When a user makes a worthy post it can be marked worthy and worthy comments can be added.  A worthy user will recieve and accept worthy comrades to read and comment on his or her posts.</p>
<br/>
<p><%= link_to 'Privacy policy', privacy_url %></p>
