<div class='comrade-info'>
  <% user = User.find(user_id) %>
  <%= image_tag(user.profile_pic.thumb.url) %>
  <p><%= link_to user.name, profile_path(user) %></p>
</div>
<div class='manage-request'>
  <%= button_to 'Accept', comrade_request_path(request_id), { method: :patch, class: 'btn btn-primary btn-lg' }  %>
  <%= button_to 'Delete', comrade_request_path(request_id), { method: :delete, class: 'btn btn-primary btn-lg' } %>
</div>
