<% provide(:title, 'Comrade requests') %>
<div class='col-md-4'><%= render 'shared/profile_pic' %></div>
<div class='col-md-8'>
<% if @comrade_requests.any? %>
  <% @comrade_requests.each do |r| %>
  <div class='comrade-row'>
  <%= render 'request', { user_id: r.requestor_id, request_id: r.id } %>
  </div>
<% end %>
<% else %>
  <p>You have no comrade requests.</p>
  <p>Go do things worthy of being a comrade!</p>
<% end %>
</div>
