<% provide(:title, 'Users') %>
<div class='col-md-4'><%= render 'shared/profile_pic' %></div>
<div class='col-md-4'>
<% if @users.any? %>
  <ul>
  <% @users.each do |u| %>
    <li>
      <%= image_tag u.profile_pic.url %>
      <%= link_to u.name, profile_path(u) %>
    </li>
  <% end %>
  </ul>
<% end %>
</div>
