<% provide(:title, 'Comrades') %>
<div class='col-md-4'><%= render 'shared/profile_pic' %></div>
<div class='col-md-8'>
<% if @comrades.any? %>
  <% @comrades.each do |c| %>
  <div class='comrade-row'>
    <div class='comrade-info'>
      <%= image_tag(c.profile_pic.thumb.url) %>
      <p><%= link_to c.name, profile_path(c) %></p>
    </div>
    <div class='manage-request'>
      <% request = Comrade.from_profile(current_user.id, c.id) %>
      <%= button_to 'Delete', comrade_path(request.id), { method: :delete, class: 'btn btn-primary btn-lg' } %>
    </div>
  </div>
<% end %>
<% else %>
  <p>You have no comrades.</p>
  <p>Go do things worthy of being a comrade!</p>
<% end %>
</div>
